<div class="submit_ px-4 text-center">
    <div class="mt-4 mb-4">
        <h1 class="display-5 fw-bold">Curious About Our Motivation Behind <br>
            <em><u>Damn Delicious</u></em> ??
        </h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead">Come join me in my culinary adventures where we'll be using simple, fresh ingredients and
                transforming them into sophisticated and elegant meals for the everyday home cook.</p>
        </div>
    </div>
</div>

<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
        <img src="/img/food1.jpg" width="607" height="510" class="d-block mx-lg-auto img-fluid" loading="lazy"
            alt="Damn Delicious">
    </div>

    <div class="col-12 col-lg-6">
        <h2 class="display-5 mb-3">What Marks The Origin Of Damn Delicious</h2>
        <p class="lead">
            Our sole purpose to launch Damn Delicious is to unite the entire world by
            sharing different recipes of food practiced in different part of the globe.
        </p>

    </div>
</div>


<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">

    <div class="col-12 col-lg-6">
        <h2 class="display-5 mb-3">Mexican Food Culture</h2>
        <p class="lead">
            If you could only eat the food of one country for the rest of your life, a good call would be to make it
            Mexican. Mexico is without a doubt a must-visit country if you’re looking for delicious tasting cuisines
            from a different culture. Tacos, hlados, enchiladas and quesadillas will all bring the heat of Thai food
            and the richness of an Indian curry
        </p>
        <p>
        <h3>Glossary for the mexican newbies:</h3>
        Chilli con carne – spicy meat stew, often with tomatoes and beans. <br>
        Tacos – wheat tortilla topped with a filling. <br>
        Quesadilla – a griddled tortilla wrap with avocado, meat, cheese, chilli peppers and beans. <br>
        </p>

    </div>

    <div class="col-12 col-lg-6">
        <img src="/img/food_mexican.webp" width="607" height="510" class="d-block mx-lg-auto img-fluid" loading="lazy"
            alt="Damn Delicious">
    </div>
</div>


<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
        <img src="/img/food_indian.webp" width="607" height="510" class="d-block mx-lg-auto img-fluid" loading="lazy"
            alt="Damn Delicious">
    </div>

    <div class="col-12 col-lg-6">
        <h2 class="display-5 mb-3">Indian Food Culture</h2>
        <p class="lead">
            India is at the top of the list of countries that have delicious, mouthwatering, and often spicy vegetarian
            foods. As part of their culture, between 20% and 40% of India’s population are vegetarian, hence meet
            market of india is not that dense. <br>
            Indian food is often labelled as the best cuisine in the world, fusing a number of spices and forming rich
            curries with a delicious, spicy peppery taste. They’re a big fan of homemade white cheese called paneer and
            every dish always goes well with naan bread.
        </p>

        <p>
        <h3>Glossary for the indian newbies:</h3>
        Paneer Butter Masala – the most popular dish in India, you’ll find this everywhere.
        It’s made of tomato puree with cream cheese and traditional Indian spices and herbs. <br>
        Aloo Gobi – a side dish, made of potato and cauliflower. <br>
        Chai Masala (Spicy Tea) is a must-drink in India. <br>
        </p>
    </div>
</div>



<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">

    <div class="col-12 col-lg-6">
        <h2 class="display-5 mb-3">China Food Culture</h2>
        <p class="lead">
            China is a country known for its food and culture, and you're bound to find plenty of diversity in both.
            You’ll be left in awe at some of the unique foods and flavours that China has to offer.
            The country is known for their engineering and artistry in developing well sophisticated products.
            Likewise the same attitude is displayed in their cookery skills. China's regional dishes are so diverse
            it's hard to understand that they’re from the same nation. Chinese favourite dishes include rolls, noodles,
            tofu, dumplings and sweet and sour chicken.
        </p>
        <p>
        <h3>Glossary for the chinese newbies:</h3>
        Tofu – a soybean curd which is often fried with spices. <br>
        Noodles – long strings made from rice wheat or buckwheat. <br>
        Chop suey – a stir-fried cuisine with meat or shrimps and vegetables which is usually served on top of rice.
        <br>
        </p>

    </div>

    <div class="col-12 col-lg-6">
        <img src="/img/food_china.webp" width="607" height="510" class="d-block mx-lg-auto img-fluid" loading="lazy"
            alt="Damn Delicious">
    </div>
</div>


<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
        <img src="/img/food_italy.webp" width="607" height="510" class="d-block mx-lg-auto img-fluid" loading="lazy"
            alt="Damn Delicious">
    </div>

    <div class="col-12 col-lg-6">
        <h2 class="display-5 mb-3">Italy Food Culture</h2>
        <p class="lead">
            Whenever there is a discussion about countries being known for their food, Italy never fails to be on that
            list. Italian food has satisfied taste buds around the world for many centuries and is one of the most
            famous
            cuisines. Traditional colours of Italian cuisines, such as green, red and yellow, can guarantee a nice
            fusion
            of flavour and taste. Most Italian dishes are based on bread, tomato and olive oil. The secret to these
            cuisines is not in the preparation process but more in the freshness of the ingredients.
            Popular Italian dishes include pizza, cheesy risottos, and pasta. It isn’t just the taste that will amaze
            you,
            but the design and texture of the final dish
        </p>

        <p>
        <h3>Glossary for the italic newbies:</h3>
        Pizza – Margherita, Speck e Mascarpone, Quattro Formaggi. <br>
        Pasta – Carbonara, Pesto, Cacio e pepe and Amatriciana. <br>
        Panna cotta - is a creamy dessert made of heaven, normally served with red-berry jam. <br>
        </p>
    </div>
</div>


<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">

    <div class="col-12 col-lg-6">
        <h2 class="display-5 mb-3">Spanish Food Culture</h2>
        <p class="lead">
            Spain has a large influence on some of the foodie countries that are listed on this article, with many 
            flavours crossing over between countries. In Spanish culture, you will find that Spaniards cook their food 
            with so much passion, the same amount that they boast when they're performing the Flamenco dance.
        </p>
        <p>
        <h3>Glossary for the spanish newbies:</h3>
        Paella – a Spanish risotto, usually made with seafood but for vegans an alternative would be paella de verduras. <br>
        Tapas – traditional Spanish snacks. <br>
        Jamon – a raw cured meat. Delicious and flavoursome. <br>
        </p>

    </div>

    <div class="col-12 col-lg-6">
        <img src="/img/food_spain.webp" width="607" height="510" class="d-block mx-lg-auto img-fluid" loading="lazy"
            alt="Damn Delicious">
    </div>
</div>
